@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/line-clamp

.loader div {
	animation-duration: 0.5s;
}

.loader div:first-child {
	animation-delay: 0.1s;
}

.loader div:nth-child(2) {
	animation-delay: 0.3s;
}

.loader div:nth-child(3) {
	animation-delay: 0.6s;
}

::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}
